---
swagger: '2.0'
info:
  version: 0.0.1
  title: Mode
  description: |
    Mode provides a Metadata API for a few common objects, such as:

    * Listing charts
    * Listing reports
    * Listing spaces
    * Listing queries
    * Listing members

    ## Authentication

    For most Mode API calls, the client must supply an API bearer token for
    API token-based authentication.

    Unauthenticated requests will result in a `401 Unauthorized` response.
  termsOfService: https://mode.com/tos/
  contact:
    name: Mode API Team
    email: support@modeanalytics.com
  license:
    name: MIT
host: modeanalytics.com
basePath: "/batch"
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- accessTokenAuth: []
securityDefinitions:
  accessTokenAuth:
    type: apiKey
    name: api_key
    in: header
paths:
  "/batch/{workspace}/charts":
    x-summary: Charts
    get:
      operationId: listChartsForAccount
      summary: List charts for an account
      description: Returns all `Chart`s for an `Account`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Workspace` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Chart` collection response"
          schema:
            "$ref": "#/definitions/BatchApiRepresenters%3A%3ACharts"
      parameters:
      - in: query
        name: include_spaces
        description: With`?include_spaces=all`, the endpoint will include Charts in
          members' personal spaces. By default Charts in members personal spaces are
          excluded.
        type: string
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - in: query
        name: per_page
        description: "The number of objects to return `per_page`. \nExample: `per_page?=100`.
          \nNote: `per_page` must be greater than `0` and less than `1000`."
        type: integer
  "/batch/{workspace}/members":
    x-summary: Members
    get:
      operationId: listMembersForAccount
      summary: List members for an account
      description: Returns all `Member`s for an `Account`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Workspace` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Memberships` collection response"
          schema:
            "$ref": "#/definitions/BatchApiRepresenters%3A%3AMemberships"
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - in: query
        name: per_page
        description: "The number of objects to return `per_page`. \nExample: `per_page?=100`.
          \nNote: `per_page` must be greater than `0` and less than `1000`."
        type: integer
  "/batch/{workspace}/queries":
    x-summary: Queries
    get:
      operationId: listQueriesForAccount
      summary: List queries for an account
      description: Returns all `Query`s for an `Account`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Workspace` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Query` collection response"
          schema:
            "$ref": "#/definitions/BatchApiRepresenters%3A%3AQueries"
      parameters:
      - in: query
        name: include_spaces
        description: With`?include_spaces=all`, the endpoint will include Queries
          in members' personal spaces. By default Queries in members personal spaces
          are excluded.
        type: string
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - in: query
        name: per_page
        description: "The number of objects to return `per_page`. \nExample: `per_page?=100`.
          \nNote: `per_page` must be greater than `0` and less than `1000`."
        type: integer
  "/batch/{workspace}/reports":
    x-summary: Reports
    get:
      operationId: listReportsForAccount
      summary: List reports for an account
      description: Returns all `Report`s for an `Account`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Workspace` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Report` collection response"
          schema:
            "$ref": "#/definitions/BatchApiRepresenters%3A%3AReports"
      parameters:
      - in: query
        name: include_spaces
        description: With`?include_spaces=all`, the endpoint will include Reports
          in members' personal spaces. By default Reports in members personal spaces
          are excluded.
        type: string
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - in: query
        name: per_page
        description: "The number of objects to return `per_page`. \nExample: `per_page?=100`.
          \nNote: `per_page` must be greater than `0` and less than `1000`."
        type: integer
  "/batch/{workspace}/report_stats":
    x-summary: Report Stats
    get:
      operationId: listReportStatsForAccount
      summary: List report stats for an account
      description: Returns all `ReportStat`s for an `Account`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Workspace` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`ReportStat` collection response"
          schema:
            "$ref": "#/definitions/BatchApiRepresenters%3A%3AReportStats"
      parameters:
      - in: query
        name: include_spaces
        description: With`?include_spaces=all`, the endpoint will include ReportStats
          in members' personal spaces. By default ReportStats in members personal
          spaces are excluded.
        type: string
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - in: query
        name: per_page
        description: "The number of objects to return `per_page`. \nExample: `per_page?=100`.
          \nNote: `per_page` must be greater than `0` and less than `1000`."
        type: integer
  "/batch/{workspace}/signature_tokens":
    x-summary: Signature Token
    post:
      operationId: createBatchSignatureToken
      summary: Create a Signature Token
      description: Returns a Signature Token
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Workspace` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`SignatureToken` response"
          schema:
            "$ref": "#/definitions/BatchApiRepresenters%3A%3ASignatureToken"
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
  "/batch/{workspace}/signature_tokens/{signature_token}":
    x-summary: Signature Token
    delete:
      operationId: deleteBatchSignatureToken
      summary: Delete a Signature Token
      description: Delete a Signature Token
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`SignatureToken` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`SignatureToken` response"
          schema:
            properties:
              message:
                type: string
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: signature_token
        in: path
        description: "`Signature Token` token"
        required: true
        type: string
  "/batch/{workspace}/spaces":
    x-summary: Spaces
    get:
      operationId: listSpacesForAccount
      summary: List collections for an account
      description: Returns all `Space`s for an `Account`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Workspace` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Space` collection response"
          schema:
            "$ref": "#/definitions/BatchApiRepresenters%3A%3ASpaces"
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - in: query
        name: per_page
        description: "The number of objects to return `per_page`. \nExample: `per_page?=100`.
          \nNote: `per_page` must be greater than `0` and less than `1000`."
        type: integer
definitions:
  Link:
    required:
    - href
    properties:
      href:
        type: string
      templated:
        type: boolean
        default: false
  Pagination:
    required:
    - page
    - per_page
    - count
    - total_pages
    - total_count
    properties:
      page:
        type: integer
      per_page:
        type: integer
      count:
        type: integer
      total_pages:
        type: integer
      total_count:
        type: integer
  BatchApiRepresenters::Chart:
    properties:
      id:
        type: integer
      token:
        type: string
      chart_type:
        type: string
      chart_title:
        type: string
      query_id:
        type: string
      report_id:
        type: string
      space_id:
        type: string
      query_token:
        type: string
      report_token:
        type: string
      space_token:
        type: string
      report_creator_email:
        type: string
      exploration_url:
        type: string
  BatchApiRepresenters::ChartLinks:
    required: []
  BatchApiRepresenters::Charts:
    properties:
      pagination:
        "$ref": "#/definitions/Pagination"
      charts:
        type: array
        items:
          "$ref": "#/definitions/BatchApiRepresenters%3A%3AChart"
      _links:
        "$ref": "#/definitions/BatchApiRepresenters%3A%3AChartsLinks"
  BatchApiRepresenters::ChartsLinks:
    properties:
      next_page:
        "$ref": "#/definitions/Link"
      prev_page:
        "$ref": "#/definitions/Link"
    required:
    - next_page
    - prev_page
  BatchApiRepresenters::Membership:
    properties:
      id:
        type: string
      token:
        type: string
      state:
        type: string
      member_email:
        type: string
      member_token:
        type: string
      member_username:
        type: string
      banned_at:
        type: string
      activated_at:
        type: string
      last_report_created_at:
        type: string
      last_report_viewed_at:
        type: string
      last_report_run_at:
        type: string
      last_day_engaged:
        type: string
      last_day_api_engaged:
        type: string
      last_day_in_app_engaged:
        type: string
      total_days_engaged:
        type: string
      last_exploration_created_at:
        type: string
      last_exploration_updated_at:
        type: string
  BatchApiRepresenters::MembershipLinks:
    required: []
  BatchApiRepresenters::Memberships:
    properties:
      pagination:
        "$ref": "#/definitions/Pagination"
      memberships:
        type: array
        items:
          "$ref": "#/definitions/BatchApiRepresenters%3A%3AMembership"
      _links:
        "$ref": "#/definitions/BatchApiRepresenters%3A%3AMembershipsLinks"
  BatchApiRepresenters::MembershipsLinks:
    properties:
      next_page:
        "$ref": "#/definitions/Link"
      prev_page:
        "$ref": "#/definitions/Link"
    required:
    - next_page
    - prev_page
  BatchApiRepresenters::Query:
    properties:
      id:
        type: integer
      token:
        type: string
      name:
        type: string
      raw_query:
        type: string
      creator_email:
        type: string
      data_source_token:
        type: string
      report_id:
        type: string
      report_token:
        type: string
      space_id:
        type: string
      space_token:
        type: string
  BatchApiRepresenters::QueryLinks:
    required: []
  BatchApiRepresenters::Queries:
    properties:
      pagination:
        "$ref": "#/definitions/Pagination"
      queries:
        type: array
        items:
          "$ref": "#/definitions/BatchApiRepresenters%3A%3AQuery"
      _links:
        "$ref": "#/definitions/BatchApiRepresenters%3A%3AQueriesLinks"
  BatchApiRepresenters::QueriesLinks:
    properties:
      next_page:
        "$ref": "#/definitions/Link"
      prev_page:
        "$ref": "#/definitions/Link"
    required:
    - next_page
    - prev_page
  BatchApiRepresenters::Report:
    properties:
      id:
        type: integer
      token:
        type: string
      name:
        type: string
      description:
        type: string
      created_at:
        type: string
      edited_at:
        type: string
      updated_at:
        type: string
      last_successfully_run_at:
        type: string
      last_viewed_at:
        type: string
      last_run_at:
        type: string
      last_run_token:
        type: string
      last_run_state:
        type: string
      creator_email:
        type: string
      space_id:
        type: string
      space_token:
        type: string
      report_url:
        type: string
  BatchApiRepresenters::ReportLinks:
    required: []
  BatchApiRepresenters::Reports:
    properties:
      pagination:
        "$ref": "#/definitions/Pagination"
      reports:
        type: array
        items:
          "$ref": "#/definitions/BatchApiRepresenters%3A%3AReport"
      _links:
        "$ref": "#/definitions/BatchApiRepresenters%3A%3AReportsLinks"
  BatchApiRepresenters::ReportsLinks:
    properties:
      next_page:
        "$ref": "#/definitions/Link"
      prev_page:
        "$ref": "#/definitions/Link"
    required:
    - next_page
    - prev_page
  BatchApiRepresenters::ReportStat:
    properties:
      report_id:
        type: integer
      report_token:
        type: string
      active_schedules_count:
        type: integer
      explorations_count:
        type: integer
      view_count:
        type: integer
      recent_manual_run_creators_emails:
        type: array
        items:
          type: string
      scheduled_run_creators_emails:
        type: array
        items:
          type: string
      editors_emails:
        type: array
        items:
          type: string
      _links:
        "$ref": "#/definitions/BatchApiRepresenters%3A%3AReportStatLinks"
  BatchApiRepresenters::ReportStatLinks:
    required: []
  BatchApiRepresenters::ReportStats:
    properties:
      pagination:
        "$ref": "#/definitions/Pagination"
      report_stats:
        type: array
        items:
          "$ref": "#/definitions/BatchApiRepresenters%3A%3AReportStat"
      _links:
        "$ref": "#/definitions/BatchApiRepresenters%3A%3AReportStatsLinks"
  BatchApiRepresenters::ReportStatsLinks:
    properties:
      next_page:
        "$ref": "#/definitions/Link"
      prev_page:
        "$ref": "#/definitions/Link"
    required:
    - next_page
    - prev_page
  BatchApiRepresenters::SignatureToken:
    properties:
      token:
        type: string
      name:
        type: string
      creator_id:
        type: integer
      organization_id:
        type: integer
      access_key:
        type: string
      access_secret:
        type: string
      created_at:
        type: datetime
      expires_at:
        type: datetime
      updated_at:
        type: datetime
      authentication_for:
        type: string
      authorization_type:
        type: string
  BatchApiRepresenters::SignatureTokenLinks:
    required: []
  BatchApiRepresenters::Space:
    properties:
      id:
        type: integer
      token:
        type: string
      name:
        type: string
      description:
        type: string
      space_type:
        type: string
      space_url:
        type: string
  BatchApiRepresenters::SpaceLinks:
    required: []
  BatchApiRepresenters::Spaces:
    properties:
      pagination:
        "$ref": "#/definitions/Pagination"
      spaces:
        type: array
        items:
          "$ref": "#/definitions/BatchApiRepresenters%3A%3ASpace"
      _links:
        "$ref": "#/definitions/BatchApiRepresenters%3A%3ASpacesLinks"
  BatchApiRepresenters::SpacesLinks:
    properties:
      next_page:
        "$ref": "#/definitions/Link"
      prev_page:
        "$ref": "#/definitions/Link"
    required:
    - next_page
    - prev_page
  BadRequest:
    required:
    - id
    - message
    properties:
      id:
        type: string
        enum:
        - bad_request
      message:
        type: string
  Forbidden:
    required:
    - id
    - message
    properties:
      id:
        type: string
        enum:
        - forbidden
      message:
        type: string
  InternalServerError:
    required:
    - id
    - message
    properties:
      id:
        type: string
        enum:
        - internal_server_error
      message:
        type: string
  NotFound:
    required:
    - id
    - message
    properties:
      id:
        type: string
        enum:
        - not_found
      message:
        type: string
  ParamMissing:
    required:
    - id
    - message
    properties:
      id:
        type: string
        enum:
        - param_missing
      message:
        type: string
  PayloadTooLarge:
    required:
    - id
    - message
    properties:
      id:
        type: string
        enum:
        - payload_too_large
      message:
        type: string
  RateLimited:
    required:
    - id
    - message
    properties:
      id:
        type: string
        enum:
        - rate_limited
      message:
        type: string
  ServiceUnavailable:
    required:
    - id
    - message
    properties:
      id:
        type: string
        enum:
        - service_unavailable
      message:
        type: string
  Unauthorized:
    required:
    - id
    - message
    properties:
      id:
        type: string
        enum:
        - unauthorized
      message:
        type: string
