---
swagger: '2.0'
info:
  version: 0.0.1
  title: Mode
  description: |
    Mode provides a REST API for many common operations, such as:

    * Listing spaces and reports
    * Running reports
    * Downloading query results

    ## Authentication

    For most Mode API calls, the client must supply an API token and secret for
    HTTP basic authentication.

    If authentication is required for a given resource, unauthenticated requests
    will result in a `401 Unauthorized` response.

    [Create and Manage API Tokens](https://modeanalytics.com/settings/access_tokens)
  termsOfService: https://mode.com/tos/
  contact:
    name: Mode API Team
    email: support@modeanalytics.com
  license:
    name: MIT
host: modeanalytics.com
basePath: "/api"
schemes:
- https
consumes:
- application/json
produces:
- application/hal+json
security:
- accessTokenAuth: []
securityDefinitions:
  accessTokenAuth:
    type: basic
paths:
  "/account":
    x-summary: User
    get:
      operationId: getCurrentUser
      summary: Get authorizing user
      description: Returns a representation of the authorizing `User`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '200':
          description: "`User` response"
          schema:
            "$ref": "#/definitions/Account"
  "/{account}/reports/{report}/queries/{query}/charts":
    x-summary: Charts
    get:
      operationId: listChartsInQuery
      summary: List Charts for a Query
      description: Returns all `Chart`s for a `Query`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Chart` collection response"
          schema:
            "$ref": "#/definitions/QueryCharts"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: query
        in: path
        description: "`Query` token"
        required: true
        type: string
  "/{account}/reports/{report}/queries/{query}/charts/{chart}":
    x-summary: Chart
    get:
      operationId: getChart
      summary: Get a chart
      description: Returns a representation of a single `Chart`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Chart` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Chart` response"
          schema:
            "$ref": "#/definitions/Chart"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: query
        in: path
        description: "`Query` token"
        required: true
        type: string
      - name: chart
        in: path
        description: "`Chart` token"
        required: true
        type: string
  "/{account}/spaces/{space}/datasets":
    x-summary: Datasets
    get:
      operationId: listDatasetsInSpace
      summary: List Datasets for a space
      description: Returns all `Dataset`s in a `Space`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Dataset` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Dataset` collection response"
          schema:
            "$ref": "#/definitions/Datasets"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: space
        in: path
        description: "`Space` token"
        required: true
        type: string
      - name: filter
        in: query
        description: 'Returns a filtered list of `Dataset`s in a `Space` filtered
          by whether their `created_at` or `updated_at` timestamps are `gt` (greater
          than) or `lt` (less than) the datetime passed in ISO8601 format. Example:
          `?filter=created_at.gt.2019-10-23T06:23:01Z` returns all `Datasets` in a
          space created after that date.'
        required: false
        type: string
      - name: order
        in: query
        description: 'With the `order` param, returns all `Dataset`s in a `Space`
          ordered in `asc` or `desc` order. Example: `?order=asc&order_by=created_at`'
        required: false
        type: string
      - name: order_by
        in: query
        description: 'With the `order_by` param, returns all `Dataset`s in a `Space`
          ordered by their `created_at` or `updated_at` timestamps. Example: `?order_by=created_at&order=asc`'
        required: false
        type: string
  "/{account}/data_sources/{data_source}/datasets":
    x-summary: Datasets
    get:
      operationId: listDatasetsUsingDataSource
      summary: List Datasets using a data source
      description: Returns all `Dataset`s using a `DataSource`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Dataset` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Dataset` collection response"
          schema:
            "$ref": "#/definitions/Datasets"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: data_source
        in: path
        description: "`DataSource` token"
        required: true
        type: string
      - name: filter
        in: query
        description: 'Returns a filtered list of `Dataset`s in a `Space` filtered
          by whether their `created_at` or `updated_at` timestamps are `gt` (greater
          than) or `lt` (less than) the datetime passed in ISO8601 format. Example:
          `?filter=created_at.gt.2019-10-23T06:23:01Z` returns all `Datasets` in a
          space created after that date.'
        required: false
        type: string
      - name: order
        in: query
        description: 'With the `order` param, returns all `Dataset`s in a `Space`
          ordered in `asc` or `desc` order. Example: `?order=asc&order_by=created_at`'
        required: false
        type: string
      - name: order_by
        in: query
        description: 'With the `order_by` param, returns all `Dataset`s in a `Space`
          ordered by their `created_at` or `updated_at` timestamps. Example: `?order_by=created_at&order=asc`'
        required: false
        type: string
  "/{account}/datasets/{dataset}":
    x-summary: Dataset
    patch:
      operationId: updateDataset
      summary: Update a Dataset
      description: Updates a single `Dataset` with the provided attributes
      parameters:
      - name: parameters
        in: body
        schema:
          "$ref": "#/definitions/UpdateReportRequestBody"
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: dataset
        in: path
        description: "`Dataset` token"
        required: true
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Dataset` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Dataset` response"
          schema:
            "$ref": "#/definitions/Report"
    get:
      operationId: getDataset
      summary: Get a Dataset
      description: Returns a representation of a single `Dataset`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Dataset` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Dataset` response"
          schema:
            "$ref": "#/definitions/Report"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: dataset
        in: path
        description: "`Dataset` token"
        required: true
        type: string
    delete:
      operationId: deleteDataset
      summary: Delete a Dataset
      description: Deletes a single `Dataset`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '404':
          description: "`Dataset` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: Empty body
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: dataset
        in: path
        description: "`Dataset` token"
        required: true
        type: string
  "/{account}/datasets/{dataset}/reports":
    x-summary: Dataset
    get:
      operationId: getDatasetReports
      summary: List Reports using a Dataset
      description: Returns a list of reports that have imported the `Dataset`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Dataset` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Report` collection response"
          schema:
            "$ref": "#/definitions/Reports"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: dataset
        in: path
        description: "`Dataset` token"
        required: true
        type: string
  "/{account}/datasets/{dataset}/runs":
    x-summary: Dataset Runs
    post:
      operationId: runDataset
      summary: Create a Dataset run
      description: Runs a single `Dataset` and returns a representation of the resulting
        `DatasetRun`
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: dataset
        in: path
        description: "`Dataset` token"
        required: true
        type: string
      responses:
        '404':
          description: "`Dataset` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '202':
          description: "`DatasetRun` Accepted"
          schema:
            "$ref": "#/definitions/DatasetRun"
    get:
      operationId: listDatasetRuns
      summary: List Dataset runs
      description: Returns a list of `DatasetRun`s for a `Dataset`
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: dataset
        in: path
        description: "`Dataset` token"
        required: true
        type: string
      - name: filter
        in: query
        description: 'Returns a filtered list of `Run`s for a `Dataset` filtered by
          whether their `created_at` or `updated_at` timestamps are `gt` (greater
          than) or `lt` (less than) the datetime passed in ISO8601 format. Example:
          `?filter=updated_at.lt.2019-10-23T06:23:01Z` returns all `Runs` in a space
          created before that date.'
        required: false
        type: string
      - name: order
        in: query
        description: With the `order` param, returns all `DatasetRun`s for a `Dataset`
          ordered by their `created_at` or `updated_at` timestamps
        required: false
        type: string
      - name: order_by
        in: query
        description: With the `order_by` param, returns all `DatasetRun`s for a `Dataset`
          ordered in `asc` or `desc` order
        required: false
        type: string
      responses:
        '404':
          description: "`Dataset` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '200':
          description: "`DatasetRun` collection response"
          schema:
            "$ref": "#/definitions/ReportRuns"
  "/{account}/data_sources/{data_source}/schema_updates":
    x-summary: DataSources
    post:
      operationId: createDataSourceSchemaUpdate
      summary: Update data source schema
      description: Creates and queues a `schema update` for a `data source`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '404':
          description: "`DataSource` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`DataSourceSchemaUpdate` response"
          schema:
            "$ref": "#/definitions/DataSourceSchemaUpdate"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: data_source
        in: path
        description: "`DataSource` token"
        required: true
        type: string
  "/{workspace}/data_sources":
    x-summary: DataSources
    get:
      operationId: listDataSources
      summary: List data sources
      description: Returns all `DataSource`s owned by a `Workspace`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Workspace` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`DataSource` collection response"
          schema:
            "$ref": "#/definitions/DataSources"
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
  "/{workspace}/data_sources/{data_source}":
    x-summary: Data Source
    get:
      operationId: getDataSource
      summary: Get a data source
      description: Returns a single `DataSource`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`DataSource` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`DataSource` response"
          schema:
            "$ref": "#/definitions/DataSource"
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: data_source
        in: path
        description: "`DataSource` token"
        required: true
        type: string
    patch:
      operationId: updateDataSource
      summary: Update a data source
      description: Updates a `DataSource`
      parameters:
      - name: parameters
        in: body
        schema:
          "$ref": "#/definitions/UpdateDataSourceRequestBody"
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: data_source
        in: path
        description: "`DataSource` token"
        required: true
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '404':
          description: "`DataSource` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`DataSource` response"
          schema:
            "$ref": "#/definitions/DataSource"
  "/{workspace}/data_sources/{data_source}/purge":
    x-summary: Data Source
    post:
      operationId: purgeForDataSource
      summary: Purge report results
      description: Removes all report results that use a data source
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '404':
          description: "`DataSource` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '202':
          description: Accepted
          schema: {}
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: data_source
        in: path
        description: "`DataSource` token"
        required: true
        type: string
  "/{workspace}/definitions":
    x-summary: Definitions
    get:
      operationId: listDefinitions
      summary: List definitions
      description: Returns a list of `Definition`s
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: No default `Library` found
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Definitions` collection response"
          schema:
            "$ref": "#/definitions/Definitions"
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - in: query
        name: filter
        description: 'Filter `Definition`''s by token. Example: `?filter=by_tokens`'
        type: string
      - in: query
        name: tokens
        description: Comma separated list of `Definition` tokens
        type: string
    post:
      operationId: createDefinition
      summary: Create a definition
      description: Creates a `Definition`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`DataSource` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Definition` response"
          schema:
            "$ref": "#/definitions/Definition"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
  "/{workspace}/definitions/{definition}":
    x-summary: Definition
    get:
      operationId: getDefinition
      summary: Get a definition
      description: Returns a representation of `Definition`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Definition` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Definition` response"
          schema:
            "$ref": "#/definitions/Definition"
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: definition
        in: path
        description: "`Definition` token"
        required: true
        type: string
    patch:
      operationId: updateDefinition
      summary: Update a definition
      description: Updates a `Definition`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Definition` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Definition` response"
          schema:
            "$ref": "#/definitions/Definition"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: definition
        in: path
        description: "`Definition` token"
        required: true
        type: string
    delete:
      operationId: deleteDefinition
      summary: Delete a definition
      description: Deletes a `Definition`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Definition` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Definition` response"
          schema:
            "$ref": "#/definitions/Definition"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: definition
        in: path
        description: "`Definition` token"
        required: true
        type: string
  "/{workspace}/invites":
    x-summary: Invite
    post:
      operationId: createOrganizationInvite
      summary: Create an invitation
      description: Creates a `User` and invites `User` to `Workspace`
      parameters:
      - name: parameters
        in: body
        schema:
          "$ref": "#/definitions/CreateInviteRequestBody"
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Membership` not found for `Workspace`"
          schema:
            "$ref": "#/definitions/NotFound"
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/Forbidden"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '200':
          description: "`WorkspaceInvite` response"
          schema:
            "$ref": "#/definitions/Invite"
  "/{workspace}/memberships":
    x-summary: Workspace Memberships
    get:
      operationId: listMemberships
      summary: List memberships
      description: Returns a list of `Membership`s
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Workspace` not found"
          schema:
            "$ref": "#/definitions/NotFound"
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
  "/{workspace}/memberships/{membership}":
    x-summary: Workspace Membership
    get:
      operationId: getMembership
      summary: Get a membership
      description: Returns a representation of a `Membership`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Membership` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Membership` response"
          schema:
            "$ref": "#/definitions/Membership"
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: membership
        in: path
        description: "`Membership` token"
        required: true
        type: string
    delete:
      operationId: deleteMembership
      summary: Delete a membership
      description: Deletes a `Membership`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Membership` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '200':
          description: "`Membership` response"
          schema:
            "$ref": "#/definitions/Membership"
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: membership
        in: path
        description: "`Membership` token"
        required: true
        type: string
  "/{account}/reports/{report}/queries":
    x-summary: Queries
    get:
      operationId: listQueriesInReport
      summary: List queries
      description: Returns all `Queries` in a `Report`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Query` collection response"
          schema:
            "$ref": "#/definitions/ReportQueries"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
    post:
      operationId: createQueryInReport
      summary: Create a query
      description: Creates a `Query` in a `Report`
      parameters:
      - name: parameters
        in: body
        schema:
          "$ref": "#/definitions/CreateQueryRequestBody"
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Query` response"
          schema:
            "$ref": "#/definitions/Query"
  "/{account}/reports/{report}/queries/{query}":
    x-summary: Query
    get:
      operationId: getQueryInReport
      summary: Get a query
      description: Returns a `Query` in a `Report`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Query` response"
          schema:
            "$ref": "#/definitions/Query"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: query
        in: path
        description: "`Query` token"
        required: true
        type: string
    patch:
      operationId: updateQueryInReport
      summary: Upate a query
      description: Updates a `Query` in a `Report`
      parameters:
      - name: parameters
        in: body
        schema:
          "$ref": "#/definitions/UpdateQueryRequestBody"
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: query
        in: path
        description: "`Query` token"
        required: true
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Query` response"
          schema:
            "$ref": "#/definitions/Query"
    delete:
      operationId: deleteQueryInReport
      summary: Delete a query
      description: Deletes a `Query` in a `Report`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Query` response"
          schema:
            "$ref": "#/definitions/Query"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: query
        in: path
        description: "`Query` token"
        required: true
        type: string
  "/{account}/reports/{report}/runs/{run}/query_runs":
    x-summary: Query Runs
    get:
      operationId: listQueryRunsForReportRun
      summary: List query runs
      description: Returns all `QueryRun`s for a single `ReportRun`
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: run
        in: path
        description: "`ReportRun` token"
        required: true
        type: string
      responses:
        '404':
          description: "`ReportRun` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '200':
          description: "`QueryRun` collection response"
          schema:
            "$ref": "#/definitions/QueryRuns"
  "/{account}/reports/{report}/runs/{run}/query_runs/{query_run}":
    x-summary: Query Runs
    get:
      operationId: getQueryRunForReportRun
      summary: Get a query run
      description: Returns a `QueryRun` for a single `ReportRun`
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: run
        in: path
        description: "`ReportRun` token"
        required: true
        type: string
      - name: query_run
        in: path
        description: "`Query Run` token"
        required: true
        type: string
      responses:
        '404':
          description: "`ReportRun` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '200':
          description: "`Query Run`response"
          schema:
            "$ref": "#/definitions/QueryRun"
  "/{account}/reports/{report}/runs/{run}/query_runs/{query_run}/results/content(.csv, .json)":
    x-summary: Export
    get:
      operationId: getQueryRunContent
      summary: Get query results
      description: Gets the content of a query run in the requested format (csv or
        json)
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: run
        in: path
        description: "`ReportRun` token"
        required: true
        type: string
      - name: query_run
        in: path
        description: "`Query Run` token"
        required: true
        type: string
      responses:
        '404':
          description: "`ReportRun` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '200':
          description: "`Query Run` result content in the requested format"
  "/{account}/reports/{report}/filters":
    x-summary: Report Filters
    get:
      operationId: listReportFilters
      summary: List report filters
      description: Returns all `ReportFilter`s for a single `Report`
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      responses:
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '200':
          description: "`ReportFilter` collection response"
          schema:
            "$ref": "#/definitions/ReportFilters"
    post:
      operationId: createReportFilter
      summary: Create a report filter
      description: Creates a `ReportFilter`
      parameters:
      - name: body
        in: body
        description: "`ReportFilter` attributes"
        required: true
        schema:
          "$ref": "#/definitions/CreateOrUpdateReportFilterRequestBody"
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      responses:
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '200':
          description: "`ReportFilter` response"
          schema:
            "$ref": "#/definitions/ReportFilter"
  "/{account}/reports/{report}/filters/{filter}":
    x-summary: Report Filter
    get:
      operationId: getReportFilter
      summary: Get a report filter
      description: Gets a `ReportFilter`
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: filter
        in: path
        description: "`ReportFilter` token"
        required: true
        type: string
      responses:
        '404':
          description: "`ReportFilter` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '200':
          description: "`ReportFilter` response"
          schema:
            "$ref": "#/definitions/ReportFilter"
    patch:
      operationId: updateReportFilter
      summary: Update a report filter
      description: Updates a `ReportFilter`
      parameters:
      - name: body
        in: body
        description: "`ReportFilter` attributes"
        required: true
        schema:
          "$ref": "#/definitions/CreateOrUpdateReportFilterRequestBody"
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: filter
        in: path
        description: "`ReportFilter` token"
        required: true
        type: string
      responses:
        '404':
          description: "`ReportFilter` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '200':
          description: "`ReportFilter` response"
          schema:
            "$ref": "#/definitions/ReportFilter"
    delete:
      operationId: deleteReportFilter
      summary: Delete a report filter
      description: Deletes a `ReportFilter`
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: filter
        in: path
        description: "`ReportFilter` token"
        required: true
        type: string
      responses:
        '404':
          description: "`ReportFilter` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '200':
          description: "`ReportFilter` response"
          schema:
            "$ref": "#/definitions/ReportFilter"
  "/{account}/reports/{report}/exports/runs/{run}/pdf/download":
    x-summary: Export
    get:
      operationId: getReportRunExport
      summary: Get PDF of a report run
      description: Gets exported pdf of the report run
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: run
        in: path
        description: "`ReportRun` token"
        required: true
        type: string
      responses:
        '404':
          description: "`ReportRun` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '200':
          description: The data stream containing the exported pdf file
  "/{account}/spaces/{space}/reports":
    x-summary: Reports
    get:
      operationId: listReportsInSpace
      summary: List reports for a space
      description: Returns all `Report`s in a `Space`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Report` collection response"
          schema:
            "$ref": "#/definitions/Reports"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: space
        in: path
        description: "`Space` token"
        required: true
        type: string
      - name: filter
        in: query
        description: 'Returns a filtered list of `Report`s in a `Space` filtered by
          whether their `created_at` or `updated_at` timestamps are `gt` (greater
          than) or `lt` (less than) the datetime passed in ISO8601 format. Example:
          `?filter=created_at.gt.2019-10-23T06:23:01Z` returns all `Reports` in a
          space created after that date.'
        required: false
        type: string
      - name: order
        in: query
        description: 'With the `order` param, returns all `Report`s in a `Space` ordered
          in `asc` or `desc` order. Example: `?order=asc&order_by=created_at`'
        required: false
        type: string
      - name: order_by
        in: query
        description: 'With the `order_by` param, returns all `Report`s in a `Space`
          ordered by their `created_at` or `updated_at` timestamps. Example: `?order_by=created_at&order=asc`'
        required: false
        type: string
  "/{account}/data_sources/{data_source}/reports":
    x-summary: Reports
    get:
      operationId: listReportsUsingDataSource
      summary: List reports using a data source
      description: Returns all `Report`s using a `DataSource`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Report` collection response"
          schema:
            "$ref": "#/definitions/Reports"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: data_source
        in: path
        description: "`DataSource` token"
        required: true
        type: string
      - name: filter
        in: query
        description: 'Returns a filtered list of `Report`s in a `Space` filtered by
          whether their `created_at` or `updated_at` timestamps are `gt` (greater
          than) or `lt` (less than) the datetime passed in ISO8601 format. Example:
          `?filter=created_at.gt.2019-10-23T06:23:01Z` returns all `Reports` in a
          space created after that date.'
        required: false
        type: string
      - name: order
        in: query
        description: 'With the `order` param, returns all `Report`s in a `Space` ordered
          in `asc` or `desc` order. Example: `?order=asc&order_by=created_at`'
        required: false
        type: string
      - name: order_by
        in: query
        description: 'With the `order_by` param, returns all `Report`s in a `Space`
          ordered by their `created_at` or `updated_at` timestamps. Example: `?order_by=created_at&order=asc`'
        required: false
        type: string
  "/{account}/reports/{report}":
    x-summary: Report
    patch:
      operationId: updateReport
      summary: Update a report
      description: Updates a single `report` with the provided attributes
      parameters:
      - name: parameters
        in: body
        schema:
          "$ref": "#/definitions/UpdateReportRequestBody"
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Report` response"
          schema:
            "$ref": "#/definitions/Report"
    get:
      operationId: getReport
      summary: Get a report
      description: Returns a representation of a single `Report`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Report` response"
          schema:
            "$ref": "#/definitions/Report"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
    delete:
      operationId: deleteReport
      summary: Delete a report
      description: Deletes a single `Report`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: Empty body
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
  "/{account}/reports/{report}/archive":
    x-summary: Report
    patch:
      operationId: archiveReport
      summary: Archive a report
      description: Archives a single `Report`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Report` response"
          schema:
            "$ref": "#/definitions/Report"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
  "/{account}/reports/{report}/unarchive":
    x-summary: Report
    patch:
      operationId: unarchiveReport
      summary: Unarchive a report
      description: Unarchives a single `Report`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Report` response"
          schema:
            "$ref": "#/definitions/Report"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
  "/{account}/reports/purge":
    x-summary: Report
    post:
      operationId: purgeAllReports
      summary: Purge all report results
      description: Removes all report results for an organization
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '404':
          description: "`Account` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '202':
          description: Accepted
          schema: {}
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
  "/{account}/reports/{report}/schedules":
    x-summary: ReportSchedule
    get:
      operationId: listReportSchedules
      summary: List schedules for a report
      description: Returns all `Schedule`s for a `Report`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: Report `Schedule` collection response
          schema:
            "$ref": "#/definitions/ReportSchedules"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
    post:
      operationId: createReportSchedule
      summary: Create a report schedule
      description: Creates a `Report` `Schedule`
      parameters:
      - name: parameters
        in: body
        schema:
          "$ref": "#/definitions/CreateReportScheduleRequestBody"
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: Report `Schedule` response
          schema:
            "$ref": "#/definitions/ReportSchedule"
  "/{account}/datasets/{dataset}/schedules":
    x-summary: DatasetSchedules
    get:
      operationId: listDatasetSchedules
      summary: List schedules for a dataset
      description: Returns all `Schedule`s for a `Dataset`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Dataset` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: Dataset `Schedule` collection response
          schema:
            "$ref": "#/definitions/DatasetSchedules"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: dataset
        in: path
        description: "`Dataset` token"
        required: true
        type: string
  "/{account}/reports/{report}/schedules/{schedule}":
    x-summary: ReportSchedule
    get:
      operationId: getReportSchedule
      summary: Get a report schedule
      description: Returns a `Report`'s `Schedule`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`ReportSchedule` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: Report `Schedule` response
          schema:
            "$ref": "#/definitions/ReportSchedule"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: schedule
        in: path
        description: "`Schedule` token"
        required: true
        type: string
    patch:
      operationId: updateReportSchedule
      summary: Update a report schedule
      description: Updates a `Report`'s `Schedule`
      parameters:
      - name: parameters
        in: body
        schema:
          "$ref": "#/definitions/UpdateReportScheduleRequestBody"
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: schedule
        in: path
        description: "`Schedule` token"
        required: true
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`ReportSchedule` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: Report `Schedule` response
          schema:
            "$ref": "#/definitions/ReportSchedule"
    delete:
      operationId: deleteReportSchedule
      summary: Delete a report schedule
      description: Deletes a `Report`'s `Schedule`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`ReportSchedule` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: Empty body
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: schedule
        in: path
        description: "`Schedule` token"
        required: true
        type: string
  "/{account}/reports/{report}/subscriptions":
    x-summary: Report Subscription
    get:
      operationId: listSubscriptionsForReport
      summary: List subscriptions
      description: Returns all `Subscriptions` for a `Report`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`ReportSubscription` collection response"
          schema:
            "$ref": "#/definitions/ReportSubscriptions"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
    post:
      operationId: createSubscriptionForReport
      summary: Create subscription
      description: Creates and returns a `Subscription` for a `Report`
      parameters:
      - name: parameters
        in: body
        schema:
          "$ref": "#/definitions/CreateorUpdateReportSubscriptionRequestBody"
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`ReportSubscription` response"
          schema:
            "$ref": "#/definitions/ReportSubscription"
  "/{account}/reports/{report}/subscriptions/{subscription}":
    x-summary: Report Subscription
    get:
      operationId: getSubscriptionForReport
      summary: Get subscription
      description: Returns a `Subscription` for a `Report`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`ReportSubscription` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`ReportSubscription` response"
          schema:
            "$ref": "#/definitions/ReportSubscription"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: subscription
        in: path
        description: "`ReportSubscription` token"
        required: true
        type: string
    patch:
      operationId: updateSubscriptionForReport
      summary: Update subscription
      description: Updates and returns a `Subscription` for a `Report`
      parameters:
      - name: parameters
        in: body
        schema:
          "$ref": "#/definitions/CreateorUpdateReportSubscriptionRequestBody"
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: subscription
        in: path
        description: "`ReportSubscription` token"
        required: true
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`ReportSubscription` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`ReportSubscription` response"
          schema:
            "$ref": "#/definitions/ReportSubscription"
    delete:
      operationId: deleteSubscriptionForReport
      summary: Delete subscription
      description: Deletes a `Subscription` for a `Report`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`ReportSubscription` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: Empty body
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: subscription
        in: path
        description: "`ReportSubscription` token"
        required: true
        type: string
  "/{account}/reports/{report}/schedules/{schedule}/subscriptions":
    x-summary: Report Subscriptions
    get:
      operationId: listSubscriptionsForReportSchedule
      summary: List schedule subscriptions
      description: Returns all `subscriptions` for a `Report` `Schedule`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`ReportSchedule` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`ReportSubscription` collection response"
          schema:
            "$ref": "#/definitions/ReportSubscriptions"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: schedule
        in: path
        description: "`Schedule` token"
        required: true
        type: string
  "/{account}/reports/{report}/runs":
    x-summary: Report Run
    get:
      operationId: listReportRuns
      summary: List report runs
      description: Returns a list of `ReportRun`s for a `Report`
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: filter
        in: query
        description: 'Returns a filtered list of `Run`s for a `Report` filtered by
          whether their `created_at` or `updated_at` timestamps are `gt` (greater
          than) or `lt` (less than) the datetime passed in ISO8601 format. Example:
          `?filter=updated_at.lt.2019-10-23T06:23:01Z` returns all `Runs` in a space
          created before that date.'
        required: false
        type: string
      - name: order
        in: query
        description: With the `order` param, returns all `ReportRun`s for a `Report`
          ordered by their `created_at` or `updated_at` timestamps
        required: false
        type: string
      - name: order_by
        in: query
        description: With the `order_by` param, returns all `ReportRun`s for a `Report`
          ordered in `asc` or `desc` order
        required: false
        type: string
      responses:
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '200':
          description: "`ReportRun` collection response"
          schema:
            "$ref": "#/definitions/ReportRuns"
    post:
      operationId: runReport
      summary: Create a report run
      description: Runs a single `Report` and returns a representation of the resulting
        `ReportRun`
      parameters:
      - name: parameters
        in: body
        description: Custom parameter attributes
        schema:
          "$ref": "#/definitions/RunReportRequestBody"
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      responses:
        '404':
          description: "`Report` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '202':
          description: "`ReportRun` Accepted"
          schema:
            "$ref": "#/definitions/ReportRun"
  "/{account}/reports/{report}/runs/{run}":
    x-summary: Report Run
    get:
      operationId: getReportRun
      summary: Get a report run
      description: Returns a representation of a single `ReportRun`
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: run
        in: path
        description: "`ReportRun` token"
        required: true
        type: string
      responses:
        '404':
          description: "`ReportRun` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '200':
          description: "`ReportRun` response"
          schema:
            "$ref": "#/definitions/ReportRun"
  "/{account}/datasets/{dataset}/runs/{run}":
    x-summary: Dataset Run
    get:
      operationId: getDatasetRun
      summary: Get a Dataset run
      description: Returns a representation of a single `DatasetRun`
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: dataset
        in: path
        description: "`Dataset` token"
        required: true
        type: string
      - name: run
        in: path
        description: "`DatasetRun` token"
        required: true
        type: string
      responses:
        '404':
          description: "`DatasetRun` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '200':
          description: "`DatasetRun` response"
          schema:
            "$ref": "#/definitions/ReportRun"
  "/{account}/reports/{report}/runs/{run}/clone":
    x-summary: Report Run
    post:
      operationId: cloneReportRun
      summary: Clone a report run
      description: Returns a representation of the cloned `ReportRun`
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: run
        in: path
        description: "`ReportRun` token"
        required: true
        type: string
      responses:
        '404':
          description: "`ReportRun` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '200':
          description: "`Report` response"
          schema:
            "$ref": "#/definitions/Report"
  "/{account}/reports/{report}/runs/{run}/options":
    x-summary: Form Fields
    get:
      operationId: listFormFields
      summary: List form fields
      description: Returns a list of Form Fields for a `ReportRun`
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: run
        in: path
        description: "`ReportRun` token"
        required: true
        type: string
      responses:
        '404':
          description: "`ReportRun` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '200':
          description: "`FormField` collection response"
          schema:
            "$ref": "#/definitions/FormField"
  "/{account}/reports/{report}/runs/{run}/results/content(.csv, .json)":
    x-summary: Export
    get:
      operationId: getReportRunContent
      summary: Get report results
      description: Gets the content of a report run in the requested format (csv or
        json)
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: run
        in: path
        description: "`ReportRun` token"
        required: true
        type: string
      responses:
        '404':
          description: "`ReportRun` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '200':
          description: "`Report Run` result content in the requested format"
  "/{account}/spaces/{space}/memberships":
    x-summary: Space Memberships
    post:
      operationId: createSpaceMemberships
      summary: Create a space membership
      description: Returns all `Memberships` for a `Space`
      parameters:
      - name: parameters
        in: body
        schema:
          "$ref": "#/definitions/CreateSpaceMembershipRequestBody"
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: space
        in: path
        description: "`Space` token"
        required: true
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '404':
          description: "`Space` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`SpaceMembership` response"
          schema:
            "$ref": "#/definitions/SpaceMembership"
    get:
      operationId: listSpaceMemberships
      summary: List space memberships
      description: Returns all `Memberships` for a `Space`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '404':
          description: "`Space` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`SpaceMembership` collection response"
          schema:
            "$ref": "#/definitions/SpaceMemberships"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: space
        in: path
        description: "`Space` token"
        required: true
        type: string
  "/{account}/spaces/{space}/memberships/{space_membership}":
    x-summary: Space Membership
    get:
      operationId: getSpaceMembership
      summary: Get a space membership
      description: Returns a single `Membership` for a `Space`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Space Membership` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`SpaceMembership` response"
          schema:
            "$ref": "#/definitions/SpaceMembership"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: space
        in: path
        description: "`Space` token"
        required: true
        type: string
      - name: space_membership
        in: path
        description: "`Space Membership` token"
        required: true
        type: string
    delete:
      operationId: deleteSpaceMembership
      summary: Delete a space membership
      description: Delets a single `Membership` for a `Space`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Space Membership` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`SpaceMembership` response"
          schema:
            "$ref": "#/definitions/SpaceMembership"
      parameters:
      - name: account
        in: path
        description: "`Account` (`Workspace` or `User`) username"
        required: true
        type: string
      - name: space
        in: path
        description: "`Space` token"
        required: true
        type: string
      - name: space_membership
        in: path
        description: "`Space Membership` token"
        required: true
        type: string
  "/{workspace}/spaces":
    x-summary: Collection
    get:
      operationId: listCollections
      summary: List Collections
      description: Returns a representation of `Collection`s in a `Workspace` visible
        to the authenticated `User`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Workspace` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Space` collection response"
          schema:
            "$ref": "#/definitions/Spaces"
      parameters:
      - in: query
        name: filter
        description: 'Returns a filtered list of `Collection`s. Valid options include
          `all`. The default returns a list of `Collection`''s that do not include
          other user''s personal collections. Example: `?filter=all` returns all `Collections`
          including personal collections.'
        required: false
        type: string
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
    post:
      operationId: createCollection
      summary: Create a Collection
      description: Creates a `Collection`
      parameters:
      - name: parameters
        in: body
        schema:
          "$ref": "#/definitions/CreateOrUpdateSpaceRequestBody"
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Account` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/Forbidden"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '200':
          description: "`Space` response"
          schema:
            "$ref": "#/definitions/Space"
  "/{workspace}/spaces/{space}":
    x-summary: Collection
    get:
      operationId: getCollection
      summary: Get a Collection
      description: Returns a representation of a single `Collection`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Space` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Space` response"
          schema:
            "$ref": "#/definitions/Space"
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: space
        in: path
        description: "`Space` token"
        required: true
        type: string
    delete:
      operationId: deleteCollection
      summary: Delete a Collection
      description: Deletes a single `Collection`
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Space` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`Space` response"
          schema:
            "$ref": "#/definitions/Space"
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: space
        in: path
        description: "`Space` token"
        required: true
        type: string
    post:
      operationId: updateCollection
      summary: Update a Collection
      description: Updates a `Collection`
      parameters:
      - name: parameters
        in: body
        schema:
          "$ref": "#/definitions/CreateOrUpdateSpaceRequestBody"
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: space
        in: path
        description: "`Space` token"
        required: true
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '404':
          description: "`Space` not found"
          schema:
            "$ref": "#/definitions/NotFound"
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/Forbidden"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
        '200':
          description: "`Space` response"
          schema:
            "$ref": "#/definitions/Space"
  "/{workspace}/groups/{group_token}/memberships":
    x-summary: Group Memberships
    get:
      operationId: listGroupMemberships
      summary: List group memberships
      description: Get all `Memberships` of a `Group`
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: group_token
        in: path
        description: "`UserGroup` token"
        required: true
        type: string
      responses:
        '404':
          description: "`Membership` not found for `Workspace`"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`UserGroupMembership` collection response"
          schema:
            "$ref": "#/definitions/UserGroupMemberships"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/Forbidden"
    post:
      operationId: createGroupMembership
      summary: Create a group membership
      description: Create a `Group` `Membership` for a given `User`
      parameters:
      - name: parameters
        in: body
        schema:
          "$ref": "#/definitions/CreateUserGroupMembershipRequestBody"
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: group_token
        in: path
        description: "`UserGroup` token"
        required: true
        type: string
      responses:
        '404':
          description: "`Membership` not found for `Workspace`"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`UserGroupMembership` response"
          schema:
            "$ref": "#/definitions/UserGroupMembership"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/Forbidden"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
  "/{workspace}/groups/{group_token}/memberships/{membership_token}":
    x-summary: Group Membership
    get:
      operationId: getGroupMembership
      summary: Get a group membership
      description: Get the `Group` `Membership` of a `User`
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: group_token
        in: path
        description: "`UserGroup` token"
        required: true
        type: string
      - name: membership_token
        in: path
        description: "`UserGroupMembership token"
        required: true
        type: string
      responses:
        '404':
          description: "`Membership` not found for `Workspace`"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`UserGroupMembership` response"
          schema:
            "$ref": "#/definitions/UserGroupMembership"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/Forbidden"
    delete:
      operationId: deleteGroupMembership
      summary: Delete a group membership
      description: Remove a `User` from a `Group` by deleting the `Membership`
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: group_token
        in: path
        description: "`UserGroup` token"
        required: true
        type: string
      - name: membership_token
        in: path
        description: "`UserGroupMembership token"
        required: true
        type: string
      responses:
        '404':
          description: "`Membership` not found for `Workspace`"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`UserGroupMembership` response"
          schema:
            "$ref": "#/definitions/UserGroupMembership"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/Forbidden"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
  "/{workspace}/groups":
    x-summary: Groups
    get:
      operationId: listGroups
      summary: List groups
      description: Get all `Group`s for a `Workspace`
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      responses:
        '404':
          description: "`Membership` not found for `Workspace`"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`UserGroup` collection response"
          schema:
            "$ref": "#/definitions/UserGroups"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/Forbidden"
    post:
      operationId: createGroup
      summary: Create a group
      description: Create a user `Group` with the provided attributes
      parameters:
      - name: parameters
        in: body
        schema:
          "$ref": "#/definitions/CreateUserGroupRequestBody"
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      responses:
        '404':
          description: "`Membership` not found for `Workspace`"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`UserGroup` response"
          schema:
            "$ref": "#/definitions/UserGroup"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/Forbidden"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
  "/{workspace}/groups/{group_token}":
    x-summary: Group
    get:
      operationId: getGroup
      summary: Get a group
      description: Gets a user `Group`
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: group_token
        in: path
        description: "`UserGroup` token"
        required: true
        type: string
      responses:
        '404':
          description: "`Membership` not found for `Workspace`"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`UserGroup` response"
          schema:
            "$ref": "#/definitions/UserGroup"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/Forbidden"
    delete:
      operationId: deleteGroup
      summary: Delete a group
      description: Deletes a user `Group`
      parameters:
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: group_token
        in: path
        description: "`UserGroup` token"
        required: true
        type: string
      responses:
        '404':
          description: "`Membership` not found for `Workspace`"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`UserGroup` response"
          schema:
            "$ref": "#/definitions/UserGroup"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/Forbidden"
    patch:
      operationId: updateGroup
      summary: Update a group
      description: Update a user `Group` with the provided attributes
      parameters:
      - name: parameters
        in: body
        schema:
          "$ref": "#/definitions/UpdateUserGroupRequestBody"
      - name: workspace
        in: path
        description: "`Workspace` username"
        required: true
        type: string
      - name: group_token
        in: path
        description: "`UserGroup` token"
        required: true
        type: string
      responses:
        '404':
          description: "`Membership` not found for `Workspace`"
          schema:
            "$ref": "#/definitions/NotFound"
        '200':
          description: "`UserGroup` response"
          schema:
            "$ref": "#/definitions/UserGroup"
        '401':
          description: Unauthorized
          schema:
            "$ref": "#/definitions/Unauthorized"
        '403':
          description: Forbidden
          schema:
            "$ref": "#/definitions/Forbidden"
        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/BadRequest"
definitions:
  Account:
    properties:
      username:
        type: string
      name:
        type: string
      id:
        type: integer
      token:
        type: string
      email:
        type: string
      dataset_size_limit_mb:
        type: string
      query_run_size_limit_mb:
        type: string
      email_verified:
        type: boolean
      avatar:
        "$ref": "#/definitions/Avatar"
      user:
        type: boolean
      space_count:
        type: integer
      data_source_count:
        type: integer
      default_data_source_token:
        type: string
      organizations_count:
        type: string
      trial_state:
        enum:
        - pending
        - active
        - expired
        type: string
      membership_type:
        enum:
        - admin
        - full
        type: string
      payment_method_confirmed:
        type: boolean
      private_definition_count:
        type: integer
      private_definition_limit:
        type: integer
      authorized_domains:
        type: array
        items:
          type: string
      plan_code:
        enum:
        - standard
        - plus
        - free
        type: string
      seat_limit_reached:
        type: boolean
      admin_data_source_connections_only:
        type: boolean
      scim_enabled:
        type: string
      created_at:
        type: string
      settings:
        type: string
      _links:
        "$ref": "#/definitions/AccountLinks"
      _embedded:
        "$ref": "#/definitions/AccountEmbeds"
    required:
    - _links
    - username
    - name
    - id
    - token
    - dataset_size_limit_mb
    - query_run_size_limit_mb
    - avatar
    - user
    - created_at
  AccountLinks:
    properties:
      self:
        "$ref": "#/definitions/Link"
      web:
        "$ref": "#/definitions/Link"
      web_settings:
        "$ref": "#/definitions/Link"
      web_data_sources_settings:
        "$ref": "#/definitions/Link"
      web_settings_slack:
        "$ref": "#/definitions/Link"
      web_public_datasource_home:
        "$ref": "#/definitions/Link"
      web_spaces:
        "$ref": "#/definitions/Link"
      web_groups:
        "$ref": "#/definitions/Link"
      web_new_organization:
        "$ref": "#/definitions/Link"
      web_membership_events:
        "$ref": "#/definitions/Link"
      web_member_sessions:
        "$ref": "#/definitions/Link"
      web_settings_themes:
        "$ref": "#/definitions/Link"
      web_trial_appointments:
        "$ref": "#/definitions/Link"
      data_sources:
        "$ref": "#/definitions/Link"
      data_source:
        "$ref": "#/definitions/Link"
      admins:
        "$ref": "#/definitions/Link"
      memberships:
        "$ref": "#/definitions/Link"
      all_memberships:
        "$ref": "#/definitions/Link"
      home_web:
        "$ref": "#/definitions/Link"
      home_starred_web:
        "$ref": "#/definitions/Link"
      home_explorations_web:
        "$ref": "#/definitions/Link"
      home_reports_web:
        "$ref": "#/definitions/Link"
      home_search_web:
        "$ref": "#/definitions/Link"
      home_discover_web:
        "$ref": "#/definitions/Link"
      select_data_sources_web:
        "$ref": "#/definitions/Link"
      data_source_connection_request_web:
        "$ref": "#/definitions/Link"
      new_invite_web:
        "$ref": "#/definitions/Link"
      new_upload_web:
        "$ref": "#/definitions/Link"
      billing_web:
        "$ref": "#/definitions/Link"
      public_data_sources:
        "$ref": "#/definitions/Link"
      organizations:
        "$ref": "#/definitions/Link"
      preference:
        "$ref": "#/definitions/Link"
      table:
        "$ref": "#/definitions/Link"
      report:
        "$ref": "#/definitions/Link"
      reports:
        "$ref": "#/definitions/Link"
      archived_reports:
        "$ref": "#/definitions/Link"
      public_reports:
        "$ref": "#/definitions/Link"
      drafts_reports:
        "$ref": "#/definitions/Link"
      starred_reports:
        "$ref": "#/definitions/Link"
      by_ids_reports:
        "$ref": "#/definitions/Link"
      viewed_reports:
        "$ref": "#/definitions/Link"
      starred_datasets:
        "$ref": "#/definitions/Link"
      by_ids_datasets:
        "$ref": "#/definitions/Link"
      viewed_datasets:
        "$ref": "#/definitions/Link"
      starred_base_reports:
        "$ref": "#/definitions/Link"
      by_ids_base_reports:
        "$ref": "#/definitions/Link"
      viewed_base_reports:
        "$ref": "#/definitions/Link"
      by_tokens_definitions:
        "$ref": "#/definitions/Link"
      bridges:
        "$ref": "#/definitions/Link"
      access_tokens:
        "$ref": "#/definitions/Link"
      new_report:
        "$ref": "#/definitions/Link"
      new_report_web:
        "$ref": "#/definitions/Link"
      validate_table:
        "$ref": "#/definitions/Link"
      report_views:
        "$ref": "#/definitions/Link"
      groups:
        "$ref": "#/definitions/Link"
      group:
        "$ref": "#/definitions/Link"
      everyone_group:
        "$ref": "#/definitions/Link"
      users_groups_with_data_source_entitlements:
        "$ref": "#/definitions/Link"
      spaces:
        "$ref": "#/definitions/Link"
      space:
        "$ref": "#/definitions/Link"
      custom_spaces:
        "$ref": "#/definitions/Link"
      move_to_spaces:
        "$ref": "#/definitions/Link"
      definitions:
        "$ref": "#/definitions/Link"
      definition:
        "$ref": "#/definitions/Link"
      color_palettes:
        "$ref": "#/definitions/Link"
      all_color_palettes:
        "$ref": "#/definitions/Link"
      color_palette:
        "$ref": "#/definitions/Link"
      web_color_palettes_settings:
        "$ref": "#/definitions/Link"
      validate_space_name:
        "$ref": "#/definitions/Link"
      validate_definition_name:
        "$ref": "#/definitions/Link"
      slack_app:
        "$ref": "#/definitions/Link"
      trial_appointment:
        "$ref": "#/definitions/Link"
      member_session_timeout:
        "$ref": "#/definitions/Link"
      easy_identity_providers:
        "$ref": "#/definitions/Link"
      saml_identity_providers:
        "$ref": "#/definitions/Link"
      scim_token:
        "$ref": "#/definitions/Link"
      memberships_lite:
        "$ref": "#/definitions/Link"
    required:
    - self
    - web
    - web_public_datasource_home
    - web_groups
    - web_new_organization
    - home_web
    - home_starred_web
    - home_explorations_web
    - home_search_web
    - new_invite_web
    - new_upload_web
    - report
    - reports
    - archived_reports
    - public_reports
    - drafts_reports
    - starred_reports
    - by_ids_reports
    - viewed_reports
    - all_color_palettes
  AccountEmbeds:
    properties:
      data_sources:
        "$ref": "#/definitions/DataSources"
      spaces:
        "$ref": "#/definitions/Spaces"
      all_spaces:
        "$ref": "#/definitions/Spaces"
  RunReportRequestBody:
    required:
    - parameters
    type: object
    properties:
      parameters:
        description: A object of key/value pairs corresponding to custom report parameter
          names and values
        type: object
        example:
          user_id: 123
          location: San Francisco
  QueriesAttributes:
    required:
    - data_source_id
    - create_query_run
    properties:
      name:
        type: string
        description: Name of the `Query`
      data_source_id:
        type: integer
        description: Numeric ID of the `DataSource` which this `Query` should be associated
          with
      create_query_run:
        type: boolean
        description: Determines whether to include this `Query` when running the `Report`
      limit:
        type: boolean
        description: Determines whether a limit of 100 will be automatically applied
          to the `Query`
        default: false
      token:
        type: string
        description: Identifying token of the `Query`, if it has already been created
      raw_query:
        type: string
        description: SQL to run
  CreateInviteRequestBody:
    required:
    - invite
    type: object
    properties:
      invite:
        required:
        - invitee
        - message
        type: object
        properties:
          invitee:
            required:
            - email
            type: object
            properties:
              email:
                type: string
                example: harold.ceramicist@example.com
          message:
            type: string
            example: You are an analyst, Harry!
  CreateQueryRequestBody:
    required:
    - query
    type: object
    properties:
      query:
        required:
        - raw_query
        - data_source_id
        type: object
        description: The parameters for the new `query`
        properties:
          data_source_id:
            type: integer
            minimum: 1
            description: The id of the data source to use
          raw_query:
            type: string
            example: SELECT * from the_way_down
            description: The raw query to be executed
          name:
            type: string
            example: Turtles
            description: The name of the new `query`
  UpdateQueryRequestBody:
    required:
    - query
    type: object
    properties:
      query:
        type: object
        description: The updated parameters for the `query`
        properties:
          data_source_id:
            type: integer
            minimum: 1
            description: The id of the data source to use
          raw_query:
            type: string
            example: SELECT * FROM small_table;
            description: The raw query to be executed
          name:
            type: string
            example: All the small things
            description: The name of the new `query`
  UpdateReportRequestBody:
    required:
    - report
    type: object
    properties:
      report:
        type: object
        properties:
          name:
            type: string
            description: The name of the report
            example: Kanto Region Diaspora
          description:
            type: string
            description: A description of the report in question
            example: An analysis of all the creatures living in the region. Please
              contribute any missing data. Pocket version coming soon.
          space_token:
            type: string
            description: The token of the space this report will be moved to
            example: 5a4177a2902c
  CreateOrUpdateReportFilterRequestBody:
    required:
    - report_filter
    properties:
      report_filter:
        "$ref": "#/definitions/CreateOrUpdateReportFilterAttributes"
  CreateOrUpdateReportFilterAttributes:
    required:
    - name
    - formula
    - data_type
    - formula_type
    - variable_type
    - filter_type
    - control_type
    - options
    properties:
      name:
        type: string
        description: "`ReportFilter` name"
[...]
