---
swagger: '2.0'
info:
  version: 0.0.1
  title: Mode
  description: |
    Mode provides a REST API for many common operations, such as:

    * Listing spaces and reports
    * Running reports
    * Downloading query results

    ## Authentication

    For most Mode API calls, the client must supply an API token and secret for
    HTTP basic authentication.

    If authentication is required for a given resource, unauthenticated requests
    will result in a `401 Unauthorized` response.

    [Create and Manage API Tokens](https://modeanalytics.com/settings/access_tokens)
  termsOfService: https://mode.com/tos/
  contact:
    name: Mode API Team
    email: support@modeanalytics.com
  license:
    name: MIT
host: modeanalytics.com
basePath: "/api"
schemes:
- https
consumes:
- application/json
produces:
- application/hal+json
security:
- accessTokenAuth: []
securityDefinitions:
  accessTokenAuth:
    type: basic
paths:
  "/account":
    x-summary: User
    get:
      operationId: getCurrentUser
      summary: Get authorizing user
      description: Returns a representation of the authorizing `User`
      responses:
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '200':
          description: "`User` response"
          schema:
            properties:
              username:
                type: string
              name:
                type: string
              id:
                type: integer
              token:
                type: string
              email:
                type: string
              dataset_size_limit_mb:
                type: string
              query_run_size_limit_mb:
                type: string
              email_verified:
                type: boolean
              avatar:
                required:
                - type
                properties:
                  type:
                    type: string
              user:
                type: boolean
              space_count:
                type: integer
              data_source_count:
                type: integer
              trial_state:
                enum:
                - pending
                - active
                - expired
                type: string
              membership_type:
                enum:
                - admin
                - limited
                - full
                type: string
              payment_method_confirmed:
                type: boolean
              private_definition_count:
                type: integer
              private_definition_limit:
                type: integer
              authorized_domains:
                type: array
                items:
                  type: string
              plan_code:
                enum:
                - standard
                - plus
                - free
                type: string
              admin_data_source_connections_only:
                type: boolean
              scim_enabled:
                type: string
              _links:
                properties:
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_settings:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_data_sources_settings:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_settings_slack:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_public_datasource_home:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_spaces:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_groups:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_new_organization:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_membership_events:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_member_sessions:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_settings_themes:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_trial_appointments:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  data_sources:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  data_source:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  admins:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  memberships:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  all_memberships:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  home_web:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  home_starred_web:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  home_explorations_web:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  home_reports_web:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  home_search_web:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  home_discover_web:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  select_data_sources_web:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  data_source_connection_request_web:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  new_invite_web:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  new_upload_web:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  billing_web:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  public_data_sources:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  organizations:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  walkthrough:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  preference:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  table:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  report:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  reports:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  archived_reports:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  public_reports:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  drafts_reports:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  starred_reports:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  by_ids_reports:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  viewed_reports:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  by_tokens_definitions:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  bridges:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  access_tokens:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  new_report:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  new_report_web:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  validate_table:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  report_views:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  groups:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  group:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  everyone_group:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  spaces:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  space:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  all_spaces:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  definitions:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  definition:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  color_palettes:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  all_color_palettes:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  color_palette:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_color_palettes_settings:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  validate_space_name:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  validate_definition_name:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  slack_app:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  default_categorical_palette:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  default_sequential_palette:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  default_divergent_palette:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  trial_appointment:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  member_session_timeout:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  easy_identity_providers:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  saml_identity_providers:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  scim_token:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - self
                - web
                - web_public_datasource_home
                - web_groups
                - web_new_organization
                - home_web
                - home_starred_web
                - home_search_web
                - new_invite_web
                - new_upload_web
                - report
                - reports
                - archived_reports
                - public_reports
                - drafts_reports
                - starred_reports
                - by_ids_reports
                - viewed_reports
                - all_color_palettes
              _embedded:
                properties:
                  data_sources:
                    properties:
                      pagination:
                        required:
                        - first_page
                        - last_page
                        - total_pages
                        - total_count
                        properties:
                          first_page:
                            type: string
                          last_page:
                            type: string
                          total_pages:
                            type: integer
                          total_count:
                            type: integer
                      _links:
                        properties:
                          next_page:
                            required:
                            - href
                            properties:
                              href:
                                type: string
                              templated:
                                type: boolean
                                default: false
                          prev_page:
                            required:
                            - href
                            properties:
                              href:
                                type: string
                              templated:
                                type: boolean
                                default: false
                          self:
                            required:
                            - href
                            properties:
                              href:
                                type: string
                              templated:
                                type: boolean
                                default: false
                        required:
                        - self
                      _embedded: {}
                    required:
                    - _links
                  spaces:
                    properties:
                      pagination:
                        required:
                        - first_page
                        - last_page
                        - total_pages
                        - total_count
                        properties:
                          first_page:
                            type: string
                          last_page:
                            type: string
                          total_pages:
                            type: integer
                          total_count:
                            type: integer
                      _links:
                        properties:
                          next_page:
                            required:
                            - href
                            properties:
                              href:
                                type: string
                              templated:
                                type: boolean
                                default: false
                          prev_page:
                            required:
                            - href
                            properties:
                              href:
                                type: string
                              templated:
                                type: boolean
                                default: false
                          self:
                            required:
                            - href
                            properties:
                              href:
                                type: string
                              templated:
                                type: boolean
                                default: false
                        required:
                        - self
                      _embedded: {}
                    required:
                    - _links
                  all_spaces:
                    properties:
                      pagination:
                        required:
                        - first_page
                        - last_page
                        - total_pages
                        - total_count
                        properties:
                          first_page:
                            type: string
                          last_page:
                            type: string
                          total_pages:
                            type: integer
                          total_count:
                            type: integer
                      _links:
                        properties:
                          next_page:
                            required:
                            - href
                            properties:
                              href:
                                type: string
                              templated:
                                type: boolean
                                default: false
                          prev_page:
                            required:
                            - href
                            properties:
                              href:
                                type: string
                              templated:
                                type: boolean
                                default: false
                          self:
                            required:
                            - href
                            properties:
                              href:
                                type: string
                              templated:
                                type: boolean
                                default: false
                        required:
                        - self
                      _embedded: {}
                    required:
                    - _links
            required:
            - _links
            - username
            - name
            - id
            - token
            - dataset_size_limit_mb
            - query_run_size_limit_mb
            - avatar
            - user
  "/{account}/reports/{report}/queries/{query}/charts":
    x-summary: Charts
    get:
      operationId: listChartsInQuery
      summary: List Charts for a Query
      description: Returns all `Chart`s for a `Query`
      responses:
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '404':
          description: "`Report` not found"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '200':
          description: "`Chart` collection response"
          schema:
            properties:
              pagination:
                required:
                - first_page
                - last_page
                - total_pages
                - total_count
                properties:
                  first_page:
                    type: string
                  last_page:
                    type: string
                  total_pages:
                    type: integer
                  total_count:
                    type: integer
              _links:
                properties:
                  next_page:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  prev_page:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - self
              _embedded: {}
            required:
            - _links
      parameters:
      - name: account
        in: path
        description: "`Account` (`Organization` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: query
        in: path
        description: "`Query` token"
        required: true
        type: string
  "/{account}/reports/{report}/queries/{query}/charts/{chart}":
    x-summary: Chart
    get:
      operationId: getChart
      summary: Get a chart
      description: Returns a representation of a single `Chart`
      responses:
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '404':
          description: "`Chart` not found"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '200':
          description: "`Chart` response"
          schema:
            properties:
              view:
                required:
                - selectedChart
                - bar
                - bigNumber
                - line
                - linePlusBar
                - scatter
                - pie
                - area
                - pivotTable
                properties:
                  selectedChart:
                    type: string
                  chartIcon:
                    type: string
                  chartTitle:
                    type: string
                  bar:
                    type: object
                  bigNumber:
                    type: object
                  line:
                    type: object
                  linePlusBar:
                    type: object
                  scatter:
                    type: object
                  pie:
                    type: object
                  area:
                    type: object
                  pivotTable:
                    type: object
              view_version:
                type: integer
              view_vegas:
                required:
                - format
                - encoding
                - chartType
                properties:
                  title:
                    type: string
                  format:
                    type: object
                  encoding:
                    type: object
                  chartType:
                    type: string
                    example: bigValue
              token:
                type: string
              created_at:
                type: string
              color_palette_token:
                type: string
              _links:
                properties:
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  color_palette:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  report_viz_web:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  preview:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  report_run_viz_web:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  last_successful_run_preview:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  creator:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - self
                - report_viz_web
                - preview
                - report_run_viz_web
                - creator
              _embedded: {}
            required:
            - _links
            - view
            - view_version
            - view_vegas
            - token
            - created_at
      parameters:
      - name: account
        in: path
        description: "`Account` (`Organization` or `User`) username"
        required: true
        type: string
      - name: report
        in: path
        description: "`Report` token"
        required: true
        type: string
      - name: query
        in: path
        description: "`Query` token"
        required: true
        type: string
      - name: chart
        in: path
        description: "`Chart` token"
        required: true
        type: string
  "/{organization}/data_sources/{data_source}/grants":
    x-summary: Permission Grants
    post:
      operationId: createDataSourcePermissionGrant
      summary: Create a permission grant
      description: Creates a `PermissionGrant` for a `User` or `Group` to a limited
        `Data Source`
      parameters:
      - name: parameters
        in: body
        schema:
          required:
          - grant
          type: object
          properties:
            grant:
              required:
              - grantee_token
              - grantee_type
              description: The parameters for the new data source permission grant
              type: object
              example:
                grantee_token: ashEaew72l
                grantee_type: UserGroup
              properties:
                grantee_token:
                  description: The token of the recipient of the permission grant
                  type: string
                grantee_type:
                  description: The type of the recipient of the permission grant,
                    either `User` for a user, or `UserGroup` for a user group
                  type: string
      - name: organization
        in: path
        description: "`Organization` username"
        required: true
        type: string
      - name: data_source
        in: path
        description: "`DataSource` token"
        required: true
        type: string
      responses:
        '404':
          description: "`Membership` not found for `Organization`"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '200':
          description: "`DataSourcePermissionGrant` response"
          schema:
            properties:
              token:
                type: string
              grantee_token:
                type: string
              grantee_type:
                type: string
              grantee_id:
                type: string
              _links:
                properties:
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  grantee:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  creator:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  data_source:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - self
                - grantee
                - creator
                - data_source
              _embedded: {}
            required:
            - _links
            - token
            - grantee_token
            - grantee_type
            - grantee_id
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '403':
          description: Forbidden
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - forbidden
              message:
                type: string
        '400':
          description: Bad request
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - bad_request
              message:
                type: string
    get:
      operationId: listDataSourcePermissionGrants
      summary: List permission grants
      description: Gets a list of all the `PermissionGrants` to a limited `Data Source`
      parameters:
      - name: organization
        in: path
        description: "`Organization` username"
        required: true
        type: string
      - name: data_source
        in: path
        description: "`DataSource` token"
        required: true
        type: string
      responses:
        '404':
          description: "`Membership` not found for `Organization`"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '200':
          description: "`DataSourcePermissionGrant` collection response"
          schema:
            properties:
              pagination:
                required:
                - first_page
                - last_page
                - total_pages
                - total_count
                properties:
                  first_page:
                    type: string
                  last_page:
                    type: string
                  total_pages:
                    type: integer
                  total_count:
                    type: integer
              _links:
                properties:
                  next_page:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  prev_page:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - self
              _embedded: {}
            required:
            - _links
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '403':
          description: Forbidden
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - forbidden
              message:
                type: string
  "/{organization}/data_sources/{data_source}/grants/{grant_token}":
    x-summary: Permission Grant
    get:
      operationId: getDataSourcePermissionGrant
      summary: Get a permission grant
      description: Gets the `PermissionGrant` for a `User` or `Group` to a limited
        `Data Source`
      parameters:
      - name: organization
        in: path
        description: "`Organization` username"
        required: true
        type: string
      - name: data_source
        in: path
        description: "`DataSource` token"
        required: true
        type: string
      - name: grant_token
        in: path
        description: "`DataSourcePermissionGrant` token"
        required: true
        type: string
      responses:
        '404':
          description: "`Membership` not found for `Organization`"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '200':
          description: "`DataSourcePermissionGrant` response"
          schema:
            properties:
              token:
                type: string
              grantee_token:
                type: string
              grantee_type:
                type: string
              grantee_id:
                type: string
              _links:
                properties:
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  grantee:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  creator:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  data_source:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - self
                - grantee
                - creator
                - data_source
              _embedded: {}
            required:
            - _links
            - token
            - grantee_token
            - grantee_type
            - grantee_id
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '403':
          description: Forbidden
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - forbidden
              message:
                type: string
    delete:
      operationId: deleteDataSourcePermissionGrant
      summary: Delete a permission grant
      description: Deletes the `PermissionGrant` for a `User` or `Group` from a limited
        `Data Source`
      parameters:
      - name: organization
        in: path
        description: "`Organization` username"
        required: true
        type: string
      - name: data_source
        in: path
        description: "`DataSource` token"
        required: true
        type: string
      - name: grant_token
        in: path
        description: "`DataSourcePermissionGrant` token"
        required: true
        type: string
      responses:
        '404':
          description: "`Membership` not found for `Organization`"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '200':
          description: "`DataSourcePermissionGrant` response"
          schema:
            properties:
              token:
                type: string
              grantee_token:
                type: string
              grantee_type:
                type: string
              grantee_id:
                type: string
              _links:
                properties:
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  grantee:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  creator:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  data_source:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - self
                - grantee
                - creator
                - data_source
              _embedded: {}
            required:
            - _links
            - token
            - grantee_token
            - grantee_type
            - grantee_id
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '403':
          description: Forbidden
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - forbidden
              message:
                type: string
        '400':
          description: Bad request
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - bad_request
              message:
                type: string
  "/{account}/data_sources/{data_source}/schema_updates":
    x-summary: DataSources
    post:
      operationId: createDataSourceSchemaUpdate
      summary: Update data source schema
      description: Creates and queues a `schema update` for a `data source`
      responses:
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '400':
          description: Bad request
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - bad_request
              message:
                type: string
        '404':
          description: "`DataSource` not found"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '200':
          description: "`DataSourceSchemaUpdate` response"
          schema:
            properties:
              id:
                type: string
              token:
                type: string
              state:
                type: string
              content_length:
                type: string
              number_of_schemas:
                type: string
              number_of_tables:
                type: string
              _links:
                properties:
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - self
              _embedded: {}
            required:
            - _links
            - id
            - token
            - state
            - content_length
            - number_of_schemas
            - number_of_tables
      parameters:
      - name: account
        in: path
        description: "`Account` (`Organization` or `User`) username"
        required: true
        type: string
      - name: data_source
        in: path
        description: "`DataSource` token"
        required: true
        type: string
  "/{organization}/data_sources":
    x-summary: DataSources
    get:
      operationId: listDataSources
      summary: List data sources
      description: Returns all `DataSource`s owned by an `Organization`
      responses:
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '404':
          description: "`Organization` not found"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '200':
          description: "`DataSource` collection response"
          schema:
            properties:
              pagination:
                required:
                - first_page
                - last_page
                - total_pages
                - total_count
                properties:
                  first_page:
                    type: string
                  last_page:
                    type: string
                  total_pages:
                    type: integer
                  total_count:
                    type: integer
              _links:
                properties:
                  next_page:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  prev_page:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - self
              _embedded: {}
            required:
            - _links
      parameters:
      - name: organization
        in: path
        description: "`Organization` username"
        required: true
        type: string
  "/{organization}/data_sources/{data_source}":
    x-summary: DataSource
    get:
      operationId: getDataSource
      summary: Get a data source
      description: Returns a single `DataSource`
      responses:
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '404':
          description: "`DataSource` not found"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '200':
          description: "`DataSource` response"
          schema:
            properties:
              id:
                type: integer
              name:
                type: string
              description:
                type: string
              token:
                type: string
              adapter:
                enum:
                - jdbc:databricks
                - jdbc:hive
                - jdbc:impala
                - jdbc:mysql
                - jdbc:oracle
                - jdbc:postgresql
                - jdbc:redshift
                - jdbc:spark
                - jdbc:sqlserver
                - jdbc:vertica
                - jdbc:presto
                - jdbc:treasuredata
                - jdbc:bigquery
                - jdbc:athena
                - jdbc:snowflake
                - jdbc:teradata
                - jdbc:db2
                type: string
              created_at:
                type: string
              updated_at:
                type: string
              has_expensive_schema_updates:
                type: boolean
              public:
                type: boolean
              asleep:
                type: boolean
              queryable:
                type: boolean
              display_name:
                type: string
              account_id:
                type: integer
              account_username:
                type: string
              organization_token:
                type: string
              default:
                type: boolean
              default_for_organization_id:
                type: boolean
              database:
                type: string
              host:
                type: string
              port:
                type: string
              ssl:
                type: boolean
              username:
                type: string
              provider:
                type: string
              vendor:
                type: string
              ldap:
                type: boolean
              warehouse:
                type: string
              bridged:
                type: boolean
              adapter_version:
                type: string
              custom_attributes:
                properties:
                  standard_sql:
                    type: boolean
              ssl_trusted_cert:
                type: string
              default_access_level:
                type: string
              _links:
                properties:
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  account:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  unrestrict:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  restrict:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  data_source_grants:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  permissions:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_home:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - self
                - account
                - web
                - web_home
              _embedded: {}
            required:
            - _links
            - id
            - name
            - description
            - token
            - adapter
            - created_at
            - updated_at
            - has_expensive_schema_updates
            - public
            - asleep
            - queryable
            - display_name
            - database
            - host
            - port
            - ssl
            - username
            - provider
            - vendor
            - ldap
            - warehouse
            - bridged
            - custom_attributes
      parameters:
      - name: organization
        in: path
        description: "`Organization` username"
        required: true
        type: string
      - name: data_source
        in: path
        description: "`DataSource` token"
        required: true
        type: string
  "/{organization}/definitions":
    x-summary: Definitions
    get:
      operationId: listDefinitions
      summary: List definitions
      description: Returns a list of `Definition`s
      responses:
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '404':
          description: No default `Library` found
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '200':
          description: "`Definitions` collection response"
          schema:
            properties:
              pagination:
                required:
                - first_page
                - last_page
                - total_pages
                - total_count
                properties:
                  first_page:
                    type: string
                  last_page:
                    type: string
                  total_pages:
                    type: integer
                  total_count:
                    type: integer
              _links:
                properties:
                  next_page:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  prev_page:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - self
              _embedded: {}
            required:
            - _links
      parameters:
      - name: organization
        in: path
        description: "`Organization` username"
        required: true
        type: string
      - in: query
        name: filter
        description: 'Filter `Definition`''s by token. Example: `?filter=by_tokens`'
        type: string
      - in: query
        name: tokens
        description: Comma separated list of `Definition` tokens
        type: string
    post:
      operationId: createDefinition
      summary: Create a definition
      description: Creates a `Definition`
      responses:
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '404':
          description: "`DataSource` not found"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '200':
          description: "`Definition` response"
          schema:
            properties:
              id:
                type: string
              token:
                type: string
              name:
                type: string
              description:
                type: string
              source:
                type: string
              data_source_id:
                type: string
              created_at:
                type: string
              updated_at:
                type: string
              last_successful_sync_at:
                type: string
              github_link:
                type: string
              last_saved_at:
                type: string
              _links:
                properties:
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  last_run:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  last_successful_github_sync:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_edit:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  creator:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - self
                - last_run
                - last_successful_github_sync
                - web_edit
                - creator
              _embedded: {}
            required:
            - _links
            - id
            - token
            - name
            - description
            - source
            - data_source_id
            - created_at
            - updated_at
            - last_successful_sync_at
            - last_saved_at
        '400':
          description: Bad request
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - bad_request
              message:
                type: string
      parameters:
      - name: organization
        in: path
        description: "`Organization` username"
        required: true
        type: string
  "/{organization}/definitions/{definition}":
    x-summary: Definition
    get:
      operationId: getDefinition
      summary: Get a definition
      description: Returns a representation of `Definition`
      responses:
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '404':
          description: "`Definition` not found"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '200':
          description: "`Definition` response"
          schema:
            properties:
              id:
                type: string
              token:
                type: string
              name:
                type: string
              description:
                type: string
              source:
                type: string
              data_source_id:
                type: string
              created_at:
                type: string
              updated_at:
                type: string
              last_successful_sync_at:
                type: string
              github_link:
                type: string
              last_saved_at:
                type: string
              _links:
                properties:
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  last_run:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  last_successful_github_sync:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_edit:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  creator:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - self
                - last_run
                - last_successful_github_sync
                - web_edit
                - creator
              _embedded: {}
            required:
            - _links
            - id
            - token
            - name
            - description
            - source
            - data_source_id
            - created_at
            - updated_at
            - last_successful_sync_at
            - last_saved_at
      parameters:
      - name: organization
        in: path
        description: "`Organization` username"
        required: true
        type: string
      - name: definition
        in: path
        description: "`Definition` token"
        required: true
        type: string
    patch:
      operationId: updateDefinition
      summary: Update a definition
      description: Updates a `Definition`
      responses:
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '404':
          description: "`Definition` not found"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '200':
          description: "`Definition` response"
          schema:
            properties:
              id:
                type: string
              token:
                type: string
              name:
                type: string
              description:
                type: string
              source:
                type: string
              data_source_id:
                type: string
              created_at:
                type: string
              updated_at:
                type: string
              last_successful_sync_at:
                type: string
              github_link:
                type: string
              last_saved_at:
                type: string
              _links:
                properties:
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  last_run:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  last_successful_github_sync:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_edit:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  creator:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - self
                - last_run
                - last_successful_github_sync
                - web_edit
                - creator
              _embedded: {}
            required:
            - _links
            - id
            - token
            - name
            - description
            - source
            - data_source_id
            - created_at
            - updated_at
            - last_successful_sync_at
            - last_saved_at
        '400':
          description: Bad request
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - bad_request
              message:
                type: string
      parameters:
      - name: organization
        in: path
        description: "`Organization` username"
        required: true
        type: string
      - name: definition
        in: path
        description: "`Definition` token"
        required: true
        type: string
    delete:
      operationId: deleteDefinition
      summary: Delete a definition
      description: Deletes a `Definition`
      responses:
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '404':
          description: "`Definition` not found"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '200':
          description: "`Definition` response"
          schema:
            properties:
              id:
                type: string
              token:
                type: string
              name:
                type: string
              description:
                type: string
              source:
                type: string
              data_source_id:
                type: string
              created_at:
                type: string
              updated_at:
                type: string
              last_successful_sync_at:
                type: string
              github_link:
                type: string
              last_saved_at:
                type: string
              _links:
                properties:
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  last_run:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  last_successful_github_sync:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_edit:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  creator:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - self
                - last_run
                - last_successful_github_sync
                - web_edit
                - creator
              _embedded: {}
            required:
            - _links
            - id
            - token
            - name
            - description
            - source
            - data_source_id
            - created_at
            - updated_at
            - last_successful_sync_at
            - last_saved_at
        '400':
          description: Bad request
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - bad_request
              message:
                type: string
      parameters:
      - name: organization
        in: path
        description: "`Organization` username"
        required: true
        type: string
      - name: definition
        in: path
        description: "`Definition` token"
        required: true
        type: string
  "/{organization}/invites":
    x-summary: Invite
    post:
      operationId: createOrganizationInvite
      summary: Create an invitation
      description: Creates a `User` and invites `User` to `Organization`
      parameters:
      - name: parameters
        in: body
        schema:
          required:
          - invite
          type: object
          properties:
            invite:
              required:
              - invitee
              - message
              type: object
              properties:
                invitee:
                  required:
                  - email
                  type: object
                  properties:
                    email:
                      type: string
                      example: harold.ceramicist@example.com
                message:
                  type: string
                  example: You are an analyst, Harry!
      - name: organization
        in: path
        description: "`Organization` username"
        required: true
        type: string
      responses:
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '404':
          description: "`Membership` not found for `Organization`"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '403':
          description: Forbidden
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - forbidden
              message:
                type: string
        '400':
          description: Bad request
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - bad_request
              message:
                type: string
        '200':
          description: "`OrganizationInvite` response"
          schema:
            properties:
              email:
                type: string
              message:
                type: string
              inviter_id:
                type: string
              invitee_id:
                type: string
              organization_id:
                type: string
              limited:
                type: string
              sent_at:
                type: string
              resent_at:
                type: string
              clicked_at:
                type: string
              accepted_at:
                type: string
              expires_at:
                type: string
              created_at:
                type: string
              _links:
                properties:
                  inviter:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  invitee:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_self_resend:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - inviter
                - web_self_resend
              _embedded: {}
            required:
            - _links
            - email
            - message
            - inviter_id
            - invitee_id
            - organization_id
            - limited
            - expires_at
            - created_at
  "/{organization}/memberships":
    x-summary: Organization Memberships
    get:
      operationId: listMemberships
      summary: List memberships
      description: Returns a list of `Membership`s
      responses:
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '404':
          description: "`Organization` not found"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
      parameters:
      - name: organization
        in: path
        description: "`Organization` username"
        required: true
        type: string
  "/{organization}/memberships/{membership}":
    x-summary: Organization Membership
    get:
      operationId: getMembership
      summary: Get a membership
      description: Returns a representation of a `Membership`
      responses:
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '404':
          description: "`Membership` not found"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '200':
          description: "`Membership` response"
          schema:
            properties:
              admin:
                type: boolean
              limited:
                type: boolean
              invited:
                type: boolean
              state:
                type: string
              member_username:
                type: string
              member_token:
                type: string
              activated_at:
                type: string
              managed_by_scim:
                type: boolean
              _links:
                properties:
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_self_unban:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_self_approve:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  organization:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  user:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_self_download_profile:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_self_confirm_destroy:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  groups:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
                - self
                - web_self
                - organization
                - groups
              _embedded: {}
            required:
            - _links
            - admin
            - state
            - member_username
            - member_token
            - activated_at
      parameters:
      - name: organization
        in: path
        description: "`Organization` username"
        required: true
        type: string
      - name: membership
        in: path
        description: "`Membership` token"
        required: true
        type: string
    delete:
      operationId: deleteMembership
      summary: Delete a membership
      description: Deletes a `Membership`
      responses:
        '401':
          description: Unauthorized
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - unauthorized
              message:
                type: string
        '404':
          description: "`Membership` not found"
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - not_found
              message:
                type: string
        '400':
          description: Bad request
          schema:
            required:
            - id
            - message
            properties:
              id:
                type: string
                enum:
                - bad_request
              message:
                type: string
        '200':
          description: "`Membership` response"
          schema:
            properties:
              admin:
                type: boolean
              limited:
                type: boolean
              invited:
                type: boolean
              state:
                type: string
              member_username:
                type: string
              member_token:
                type: string
              activated_at:
                type: string
              managed_by_scim:
                type: boolean
              _links:
                properties:
                  self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_self:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_self_unban:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_self_approve:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  organization:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  user:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_self_download_profile:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  web_self_confirm_destroy:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                  groups:
                    required:
                    - href
                    properties:
                      href:
                        type: string
                      templated:
                        type: boolean
                        default: false
                required:
[...]
